/* Загальні стилі */
body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f3f4fb;
	color: #333;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Контейнер */
.container {
	background: #fff;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
	border-radius: 25px;
	max-width: 500px;
	margin: 30px auto;
	padding: 30px;
	display: flex;
	flex-direction: column;
}

/* Блок створення завдання */
.create-task-block {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.task-title {
	font-weight: 400;
	font-size: 1.5rem;
	color: #484848;
	text-align: center;
	margin-bottom: 20px;
}

.create-task-form {
	width: 100%;
	display: flex;
	align-items: center;
}

.input-field {
	flex-grow: 1;
	margin-right: 10px;
}

.input-field input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 12px;
	font-size: 1rem;
}

/* Кнопки */
.btn {
	padding: 10px 20px;
	font-size: 1rem;
	color: #fff;
	background-color: #000000;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	white-space: nowrap;
}

.btn:hover {
	background-color: #484848;
}
.task-buttons i {
	cursor: pointer;
	margin-left: 10px;
	font-size: 1.2rem;
	color: #333;
	transition: color 0.2s ease;
}

.task-buttons i:hover {
	color: #909090;
}
/* Кнопка очищення */
.clear-tasks {
	padding: 10px 20px;
	font-size: 1rem;
	color: #ff0000;
	background-color: #ffffff;
	border: 1px solid #f50019;
	border-radius: 12px;
	cursor: pointer;
	white-space: nowrap;
}

.clear-tasks:hover {
	background-color: #f50019;
	color: #ffffff;
}

/* Список завдань */
.collection {
	list-style: none;
	padding: 0;
	margin: 20px 0;
}

.collection li {
	padding: 10px 15px;
	font-size: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #f0f0f0;
}

.collection li:last-child {
	border-bottom: none;
}

.collection li:hover {
	background: #f0f0f0;
	border-radius: 12px;
}

/* Поле фільтру */
.filter-input {
	margin: 10px 0;
}
